body{
    background-color: rgb(27, 15, 50);
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header.midview{
    color: antiquewhite;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px #000000;
    padding: 200px 50px 200px 50px;
    background-size: 100%;
    background-image: url("images/background.jpg");
    background-position: center;
}

section{
    background-color: blueviolet;
    padding: 2cm;
    display: flex;
    flex-direction: row-reverse;
}

div{
    background-color: red;
    width: 100px;
    margin: auto;
}

footer{
    background-color: black;
    padding: 10px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
}

header.navheader a {
    text-decoration: none;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

header.navheader a:visited {
    text-decoration: none;
    color: antiquewhite; 
}

header.navheader a:hover {
    color: rgb(0, 106, 255);
}

header.navheader {
    padding: 10px 5px 10px 5px;
    background-color: rgb(27, 15, 50);
}

header.navheader .logo a {
    background: url("images/logo.png");
    background-size: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    text-indent: -999999px;
    width: 25px;
    top: -2px;
    position: relative;
}