/*Body and midview */	

#Matrix {
    position: absolute;
}

body{
    overflow: hidden;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

header.midview{
    color: antiquewhite;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0px 0px 10px black;
    text-transform: uppercase;
    padding: 200px 50px 200px 50px;
    background-size: 100%;
    background-position: center;
}

@media screen and (max-width:700px) {
    #Matrix { /*TODO Fix so it resizes as the webpage size changes */
        resize: horizontal;
        resize: vertical;
    }
}

/* NAV BAR */

.navheader ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navheader li{
    display: inline-block;
    margin-right: 20px;
}

header.navheader a {
    text-decoration: none;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

header.navheader a:visited {
    text-decoration: none;
    color: antiquewhite; 
}

header.navheader a:hover {
    color: rgb(0, 106, 255);
}

header.navheader {
    padding: 10px 5px 10px 5px;
    margin-left: 0;
    background-color: black;
}

header.navheader .logo a {
    background: url("images/logo.png");
    background-size: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    text-indent: -999999px;
    width: 25px;
    top: -2px;
}

/*FOOTER*/

.links figure {
    padding: 10px 10px 10px 10px;
    margin: auto;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.links figure img {
    background-color: white;
    color: antiquewhite;
    border-radius: 50%;
    box-shadow: 0px 0px 5px;
    width: 50px;
}

.links a {
    text-decoration: none;
}

.links a:visited {
    text-decoration: none;
    color: antiquewhite;
}

.links a:hover {
    text-decoration: none;
    color: blue;
}

footer {
    background-color: black;
    color: grey;
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

